/* Hallway page and buttons */
.projects-btn {
    margin-left: 35px;
    border-radius: 15px;
}

.pictures-btn {
    margin-bottom: 150px;
    margin-left: 200px;
    border-radius: 15px;
}

.experience-btn {
    margin-right: 220px;
    border-radius: 15px;
}

.leave-btn {
    border-radius: 15px;
}

.aboutme-btn {
    margin-top: 750px;
    margin-left: 790px;
    border-radius: 15px;
}

/* Projects page */
.leave-projects {
    margin-top: 50px;
    margin-left: 840px;
}

.project-text {
    background-color: darkblue;
}

.project-text1 {
    background-color: lightblue;
}

.child {
    border-radius: 5px;
    width: 40%;
    padding: 10%;
    border: 2px solid black;
    margin: .5em auto;
}

.projecten1:hover {
    height: 250px;
    width: 250px;
}

.projecten2:hover {
    height: 250px;
    width: 350px;
}

.projecten3:hover {
    height: 250px;
    width: 350px;
}

.projecten4:hover {
    height: 250px;
    width: 350px;
}

/* ABout me page */
.child2 {
    border-radius: 5px;
    width: 40%;
    padding: 10%;
    border: 2px solid black;
    margin: .5em auto;
}

.aboutme-text {
    background-color: darkblue;
}

/* pictures page */

.Picture1 {
    margin-left: 50px;
    width: 200px;
    margin: 20px;
}

.Picture2 {
    margin-left: 50px;
    width: 200px;
    margin: 20px;
}

.Picture3 {
    margin-left: 50px;
    width: 200px;
    margin: 20px;
}

.Picture4 {
    margin-left: 50px;
    width: 200px;
    margin: 20px;
}

.Picture5 {
    margin-left: 50px;
    width: 200px;
    margin: 20px;
}

/* Experience page */
.hospital-img {
    width: 800px;
    margin-left: 28vw;
    margin-top: 5vw;
}

.experience-text {
    background-color: darkblue;
}

/* MEDIA QUERIES */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Home page*/
    .card-img {
        display: none;
    }

    .home-page {
        background-image: url(https://i.pinimg.com/originals/1c/7b/dc/1c7bdcb0ed1e65b231e2807d08f6a027.jpg);
        /* The image used */
        background-color: #cccccc;
        /* Used if the image is unavailable */
        height: 990px;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
    }

    /* Hallway page and buttons */
    .hallway-body {
        background-image: url(https://cdn-cms.pgimgs.com/static/2021/06/hallway-designs-2.jpg);
        /* The image used */
        background-color: #720000;
        /* Used if the image is unavailable */
        height: 990px;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
    }

    .projects-btn {
        margin-bottom: 10px;
        margin-left: 35px;
        border-radius: 15px;
    }

    .pictures-btn {
        margin-bottom: 10px;
        margin-left: 20px;
        border-radius: 15px;
    }

    .experience-btn {
        margin-bottom: 10px;
        margin-right: 20px;
        border-radius: 15px;
    }

    .leave-projects {
        margin-top: 1px;
        margin-left: 150px;
    }

    .aboutme-btn {
        margin-left: 455px;
        border-radius: 15px;
    }

    /* Projects page */
    .projects-body {
        background-image: url(https://www.bing.com/images/blob?bcid=qJHbZ116vRMHZg);
        /* The image used */
        background-color: #720000;
        /* Used if the image is unavailable */
        height: 990px;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
    }

    .projects-body {
        background-color: #720000;
    }

    .leave-btn {
        position: relative;
    }

    .project-text {
        background-color: darkblue;
        width: fit-content;
    }

    .project-text1 {
        background-color: lightblue;
    }

    .projecten1 {
        display: none;
    }

    .projecten2 {
        display: none;
    }

    .projecten3 {
        display: none;
    }

    .projecten4 {
        display: none;
    }

    /* About me page */
    .about-me-body {
        background-image: url(https://i.pinimg.com/originals/4a/3b/b1/4a3bb15ad98ca218ee57db2b15dd7ec6.jpg);
        /* The image used */
        background-color: #720000;
        /* Used if the image is unavailable */
        height: 990px;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
    }

    .child2 {
        border-radius: 5px;
        width: 40%;
        padding: 10%;
        border: 2px solid black;
        margin: .5em auto;
    }

    .aboutme-text {
        background-color: darkblue;
    }

    /* pictures page */
    .pictures-body {
        background-image: url(https://images.freeimages.com/images/large-previews/77c/pinboard-1165373.jpg);
        /* The image used */
        background-color: #720000;
        /* Used if the image is unavailable */
        height: 990px;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
    }


    .Picture1 {
        margin-left: 50px;
        width: 200px;
        margin: 20px;
    }

    .Picture2 {
        margin-left: 50px;
        width: 200px;
        margin: 20px;
    }

    .Picture3 {
        margin-left: 50px;
        width: 200px;
        margin: 20px;
    }

    .Picture4 {
        display: none;
    }

    .Picture5 {
        margin-left: 50px;
        width: 200px;
        margin: 20px;
    }

    /* Experience page */
    .experience-body {
        background-image: url(https://www.decorilla.com/online-decorating/wp-content/uploads/2020/09/Masculine-home-office-as-a-study-room-for-college-from-home-Gina-Sims.jpg);
        /* The image used */
        background-color: #720000;
        /* Used if the image is unavailable */
        height: 990px;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
    }

    .hospital-img {
       display: none;
    }

    .experience-text {
        margin-top: 200px;
        background-color: darkblue;
    }
}
