/* Hallway page and buttons */
.projects-btn {
    margin-left: 35px;
    border-radius: 15px;
}

.pictures-btn {
    margin-bottom: 150px;
    margin-left: 200px;
    border-radius: 15px;
}

.experience-btn {
    margin-right: 220px;
    border-radius: 15px;
}

.leave-btn {
    border-radius: 15px;
}

.aboutme-btn {
    margin-top: 750px;
    margin-left: 790px;
    border-radius: 15px;
}

/* Prjocts page */
.child {
    border-radius: 5px;
    width: 40%;
    padding: 10%;
    border: 2px solid black;
    margin: .5em auto;
}

.projecten1:hover {
    height: 250px;
    width: 250px;
}

.projecten2:hover {
    height: 250px;
    width: 350px;
}

.projecten3:hover {
    height: 250px;
    width: 350px;
}

.projecten4:hover {
    height: 250px;
    width: 350px;
}

/* ABout me page */
.child2 {
    border-radius: 5px;
    width: 40%;
    padding: 10%;
    border: 2px solid black;
    margin: .5em auto;
}

.aboutme-text {
    background-color: darkblue;
}

/* pictures page */

.picture1 {
    height: 100px;
    width: 100px;
}

.picture2 {
    height: 100px;
    width: 100px;
}

.picture3 {
    height: 10px;
    width: 10px;
}

.picture4 {
    height: 100px;
    width: 100px;
}

.picture5 {
    height: 100px;
    width: 100px;
}

.picture6 {
    height: 100px;
    width: 100px;
}

.picture7 {
    height: 100px;
    width: 100px;
}

.picture8 {
    height: 100px;
    width: 100px;
}

.picture9 {
    height: 100px;
    width: 100px;
}